body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "sans-serif";
}
blockquote {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
code {
  font-family: "Lucida Console", 'Andale Mono', monospace;
}
pre code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: .85em;
}

